/*!
 * zengin-code
 * https://github.com/rosylilly/zengin_code
 */
(function() {
  'use strict';

  var zenginCode = {};

  zenginCode = <%= File.read(GEM_ROOT_DIR.join('data/all.json')) %>;

  if (typeof define === 'function' && define.amd) {
    define(function() { return zenginCode; });
  } else if (typeof module !== 'undefined' && module.exports) {
    module.exports = zenginCode;
  } else {
    window.zenginCode = zenginCode;
  }
})();
